*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bkg-orange: #f0bf88;
    --bkg-yellow: #F7CE68;
    --dark-orange: #D38B39;
    --light-orange: #efdbc3;

    --light-tb-tr: #FCFAF6;
  }