*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bkg-fade: linear-gradient(62deg, var(--bkg-orange) 0%, var(--bkg-yellow) 100%);

    --bkg-orange: #f0bf88;
    --bkg-yellow: #F7CE68;
    --dark-orange: #D38B39;
    --light-orange: #efdbc3;

    --light-tb-tr: #f1e8de;
  }