*{
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

nav {
    text-align: end;
    margin: 10px 0;
}

a {
    text-decoration-line: none;
}

#admin, .top-links, #back-link {
    color:var(--dark-orange);
    font-weight: bold;
}

#admin:hover, .top-links:hover, #back-link:hover {
    color:var(--bkg-orange);
}

#container {
    max-width: 55%;
    margin: 0 auto;
}

body {
    background-color: var(--light-orange);
}


h1, h2 {
    color: var(--dark-orange);
}

hr {
    border: 1px solid var(--dark-orange);
}

#readMore {
    color: var(--dark-orange);
}

#readMore:hover {
    color: var(--bkg-orange);
}

#post-content {
    margin: 30px;
}

#h1-post {
    margin-bottom: 40px;
}

