*{
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

nav {
    text-align: end;
    margin: 10px 0;
}

a {
    text-decoration-line: none;
}

#admin {
    color:#D38B39;
}

#container {
    max-width: 55%;
    margin: 0 auto;
}

body {
    background-color: #FCFAF6;
}

/* h1 {
    color:#D38B39;
} */

h1, h2 {
    color: #D38B39;
}

#top-hr {
    border: 1px solid #f0bf88
}

