*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
  
body{
    background-color: rgb(241, 210, 160);
}

main{
    max-width: 70%;
    margin: 0 auto;
  
}

h1{
    text-align: center;
}

.top-link-sec, #create-link-sec {
    text-align: end;
}

table, th, td{
    width: 100%;
    border: 2px solid gray;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px 0;
    background-color: oldlace;
}

.date-time {
    white-space: nowrap;
    text-align: center;
}

.container {
    width: 60%;
    margin: 0 auto; 
}

form{
    background-color: oldlace;
    padding: 10px;
    border-radius: 8px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button[type=submit]{
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin: 5px 0;
}

button[type=submit]:hover{
    background-color: lightblue;
}