@import url(..\css\general.css);

body{
    background-color: var(--bkg-orange);
    background-image: linear-gradient(62deg, var(--bkg-orange) 0%, var(--bkg-yellow) 100%);
    margin: 0;
}

nav{
    clear: both;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 8px;
    background-color: var(--bkg-orange);
    background-image: linear-gradient(62deg, var(--bkg-orange) 0%, var(--bkg-yellow) 100%);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

hr{
    border: 1px solid var(--dark-orange);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--dark-orange);
    font-weight: bold;
}

.top-links:hover{
    color: var(--light-orange);
}

a:hover{
    color: var(--bkg-orange);
}

.top-link-sec, #create-link-sec {
    text-align: end;
    /* float: right;; */
}

main{
    max-width: 65%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

table, th, td{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-collapse: collapse;
    
}

table{
    border: none;
}

th, td{
    border: 2px solid var(--bkg-orange);
}

th{
    background-color: var(--light-tb-tr); 
    font-size: large;
}

thead{
    height: 65px;
}

tr:nth-child(even) {
    background-color: var(--light-tb-tr); 
}

tr:nth-child(odd) {
    background-color: var(--light-orange); 
}

.date-time, .links {
    text-align: center;
}

.date-time, .author-td{
    white-space: nowrap;
}

.container {
    width: 65%;
    margin: 0 auto; 
}

form{
    /* background-color: #efdbc3; */
    padding: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button[type=submit]{
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin: 5px 0;
}

button[type=submit]:hover{
    background-color: var(--bkg-orange);
}